
body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

a {
  color: black;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

#section-topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
  font: normal 16px/24px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

#section-topbar a {
  color: darkseagreen;
  height: 100%;
  margin: 0;
}

#topbar-inner {

  text-align: center;

}

#section-topbar ul#nav {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  border-right: 1px solid silver;
  zoom: 1;
  *display: inline;
  border-radius: 100px;
}

#section-topbar ul#nav>li {
  display: block;
  float: left;
  padding: 0;
  border-radius: 100px;
}

#section-topbar ul#nav a {
  display: block;
  font: normal 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding: 18px 20px 18px 20px;
  border-left: 1px solid silver;
  border-radius: 200px;
}

#section-topbar ul#nav a:focus {
  background: #111;
  text-decoration: none;
  border-left: 1px solid #111;
}

#section-topbar ul#nav a:hover {
  background: black;
  text-decoration: none;
  border-left: 1px solid #111;
}

#section-topbar ul#nav .active a {
  background: black;
  border-left: 1px solid #111;
}

#section-topbar ul#nav .active a:hover {
  background: black;
}

#section-topbar i {
  font-size: 25px;
}

#headerwrap {
  background: url(../img/header-bg.jpg) no-repeat center top;
  margin-top: 150px;
  padding: 5px;
  margin-left: 280px;
  margin-right: 20px;
  text-align: right;
  float: left;
  background-position: 50% 25%;
  min-height: 350px;
  width: 20%;
  height: 20%;
  border-radius: 200px;
  border:3px solid lightblue;
  box-shadow: 0 0 20px lightblue;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#head2 {
  font-family: cursive;
  text-align: center;
  background-attachment: relative;
  margin-left: 55%;
  width: 30%;
  height: 60%;
  margin-top: 8%;
  left: 200px;
  border-radius: 100px;
  border: 2px solid lightsteelblue;
  box-shadow: 0 0 20px lightsteelblue;

}

#head2 h1 {
  font-size: 50px;
  font-weight: normal;
  background: linear-gradient(90deg, black,white,black);
  animation: animate 10s linear infinite;
  background-size: 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animate {
  from {
    background-position: -1000%;
  }
  to {
    background-position: 1000%;
  }
}

#head2 h3{
  color: hsla(0, 0%, 0%, .9);
  font: normal 40px Varela Round, sans-serif;
  height: 60px;
  left: 350px;
  letter-spacing: 5px;
  margin: 5px 0px 0px 0px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  animation: move linear 2000ms infinite;
}

@keyframes move {
  0% {
    text-shadow:
            4px -4px 0 hsla(0, 100%, 50%, 1),
            3px -3px 0 hsla(0, 100%, 50%, 1),
            2px -2px 0 hsla(0, 100%, 50%, 1),
            1px -1px 0 hsla(0, 100%, 50%, 1),
            -4px 4px 0 hsla(180, 100%, 50%, 1),
            -3px 3px 0 hsla(180, 100%, 50%, 1),
            -2px 2px 0 hsla(180, 100%, 50%, 1),
            -1px 1px 0 hsla(180, 100%, 50%, 1);
  }
  25% {
    text-shadow:
            -4px -4px 0 hsla(180, 100%, 50%, 1),
            -3px -3px 0 hsla(180, 100%, 50%, 1),
            -2px -2px 0 hsla(180, 100%, 50%, 1),
            -1px -1px 0 hsla(180, 100%, 50%, 1),
            4px 4px 0 hsla(0, 100%, 50%, 1),
            3px 3px 0 hsla(0, 100%, 50%, 1),
            2px 2px 0 hsla(0, 100%, 50%, 1),
            1px 1px 0 hsla(0, 100%, 50%, 1);
  }
  50% {
    text-shadow:
            -4px 4px 0 hsla(0, 100%, 50%, 1),
            -3px 3px 0 hsla(0, 100%, 50%, 1),
            -2px 2px 0 hsla(0, 100%, 50%, 1),
            -1px 1px 0 hsla(0, 100%, 50%, 1),
            4px -4px 0 hsla(180, 100%, 50%, 1),
            3px -3px 0 hsla(180, 100%, 50%, 1),
            2px -2px 0 hsla(180, 100%, 50%, 1),
            1px -1px 0 hsla(180, 100%, 50%, 1);
  }
  75% {
    text-shadow:
            4px 4px 0 hsla(180, 100%, 50%, 1),
            3px 3px 0 hsla(180, 100%, 50%, 1),
            2px 2px 0 hsla(180, 100%, 50%, 1),
            1px 1px 0 hsla(180, 100%, 50%, 1),
            -4px -4px 0 hsla(0, 100%, 50%, 1),
            -3px -3px 0 hsla(0, 100%, 50%, 1),
            -2px -2px 0 hsla(0, 100%, 50%, 1),
            -1px -1px 0 hsla(0, 100%, 50%, 1);
  }
  100% {
    text-shadow:
            4px -4px 0 hsla(0, 100%, 50%, 1),
            3px -3px 0 hsla(0, 100%, 50%, 1),
            2px -2px 0 hsla(0, 100%, 50%, 1),
            1px -1px 0 hsla(0, 100%, 50%, 1),
            -4px 4px 0 hsla(180, 100%, 50%, 1),
            -3px 3px 0 hsla(180, 100%, 50%, 1),
            -2px 2px 0 hsla(180, 100%, 50%, 1),
            -1px 1px 0 hsla(180, 100%, 50%, 1);
  }
}

#head1{
background: url(../img/ph1.jpg)no-repeat center center;
  width: 100%;
  height: 750px;
  animation: rainbow 150s infinite;

}

@keyframes rainbow {
  0% {
    background: url(../img/ph1.jpg)no-repeat center center;
  }
  14.3% {
    background: url(../img/p1.jpg)no-repeat center center;
  }
  28.6% {
    background: url(../img/p2.jpg)no-repeat center center;
  }
  42.9% {
    background: url(../img/p3.jpg)no-repeat center center;
  }
  57.2% {
    background: url(../img/p4.jpg)no-repeat center center;
  }
  71.5% {
    background: url(../img/p5.jpg)no-repeat center center;
  }
  85.8% {
    background: url(../img/p6.jpg)no-repeat center center;
  }
  100% {
    background: url(../img/p7.jpg)no-repeat center center;;
  }
}

.content {
  padding: 20px;
  box-sizing: border-box;
  color: #ffffff;
}

#text{
  animation: text1  infinite;
  animation-duration: 5s;
  text-transform: uppercase;
  text-anchor: middle;
  font-family: 'Open Sans', sans-serif;
  text-shadow:
          -1px -1px #000,
          0 1px 0 #444;
  color: #222;
  transition: all 1s;
}

@keyframes text1 {
  0% {
    color: #222;
  }
  20% {
    color: silver;
  }
  40% {
    color: darkslategray;
  }
  60% {
    color: #2f2f2f;
  }
  80% {
    color: #7b7b7b;
  }
  100% {
    color: whitesmoke;
  }
}

#headerwrap h1 {
  font-size: 80px;
  color: #C0C0C0;
  font-family: cursive;
  text-shadow: 2px 2px 3px #000;

}

#headerwrap h3 {
  font-size: 40px;
  color: #C0C0C0;
  font-family: sans-serif;
  font-style:italic;
  text-shadow: 2px 2px 3px #000;
}

hr {
  border: none;
  height: 3px;
  margin: 40px 0;
  background-image: linear-gradient(to right, #FFF, #BFE2FF, #FFF);
}
hr:before,
hr:after {
  content: '';
  display: inline-block;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: 2px solid #BFE2FF;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFF;
}
hr:after {
  animation: anim-hr 1s linear infinite;
}
@keyframes anim-hr {
  0% {
    width: 40px;
    height: 40px;
  }
  100% {
    width: 0;
    height: 0;
  }
}

#container1 {
  max-width: 100%;
  padding: 1rem;
  color: white;
  border-width: 3px;
  border-style: solid;
  border-image:
          linear-gradient(
                  to bottom,
                  cadetblue,
                  rgba(0, 0, 0, 0)
          ) 1 100%;
}

#intro {
  background: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}

#intro h5, p {
  color: #2f2f2f;
}

#intro i {
  color: #2f2f2f;
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}

#footwrap {
  background: url("../img/p8.jpg") no-repeat center center;
  animation: gradient 10s ease infinite;
  padding-top: 50px;
  padding-bottom: 50px;
 box-shadow: 0 0 5px 0px cornflowerblue;
}

@keyframes gradient {
  0% {
    background-position: 30% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 30% 50%;
  }
}

#footwrap p {
  color: black;
}

#footwrap h5 {
  color: black;
}

#footwrap t {
  font-weight: 700;
}

#footwrap i {
  padding-right: 8px;
  color: #1abc9c;
}

#copyrights {
  /*background: linear-gradient(90deg, royalblue,white,royalblue);*/
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  /*box-shadow: 0 0 5px 5px cornflowerblue;*/
  animation: copy 5s infinite ease;
}

@keyframes copy {
  0% {
    background:url("../img/export.png") no-repeat center center;

  }
  15% {
    background:url("../img/export (1).png") no-repeat center center;

  }

  30% {
    background:url("../img/export (2).png") no-repeat center center;

  }
  45% {
    background:url("../img/export (3).png") no-repeat center center;

  }
  60% {
    background:url("../img/export (4).png") no-repeat center center;

  }
  75% {
    background:url("../img/export (5).png") no-repeat center center;

  }
  90% {
    background:url("../img/export (6).png") no-repeat center center;

  }
  100% {
    background:url("../img/export (7).png") no-repeat center center;

  }
}

#copyrights p {
  margin: 0 0 5px 0;
}

.credits {
  color: #999;
}

.desc {
  padding-top: 50px;
}

.desc p {
  color: #2f2f2f;
}

.desc t {
  color: #34495e;
  font-weight: 700;
}

.desc imp {
  padding: 6px;
  color: white;
  background: #34495e;
}

.desc more {
  color: #95a5a6;
}

sm {
  font-size: 12px;
}


